<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
    <style>
        .bigDiv {
            display: flex;
            flex-wrap: wrap;
        }

        .smallDiv {
            text-align: center;
            background-color: crimson;
            border: 2px solid black;
        }

        img {
            width: 300px;
        }
    </style>
</head>

<body>

    <div class="bigDiv">

        <div class="smallDiv">
            <img src="<%= ejsData3.image %>" alt="ejsData3.name%>">
            <h2><%= ejsData3.name %></h2>
            <h3><%= ejsData3.patronus %></h3>
            <p><%= ejsData3.alive %></p>

            <form action="/update/<%=ejsData3.id%>?_method=PUT" method="POST">
                <input type="text" name="name" value="<%= ejsData3.name %>">
                <input type="text" name="patronus" value="<%= ejsData3.patronus %>">
                <input type="text" name="alive" value="<%= ejsData3.alive %>">

                <input type="submit" value="UPDATE">
            </form>

            <form action="/delete/<%=ejsData3.id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
            </form>
        </div>

</body>

</html>